<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="img/icon.gif">

    <!-- include bootstrap -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link type="text/css" rel="stylesheet" href="stylesheets/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/bootstrap/css/bootstrap-theme.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/body/body.css">
    <script src="stylesheets/bootstrap/js/bootstrap.js"></script>
    <meta charset="UTF-8">
    <title>Willkommen</title>


</head>
<body>
<body class="basic">
<!-- Navibar-->
<div class="navyContainer">
    <!--<div class="titelPic">-->
        <!--<img src="img/impesa-bett-massivholz-kirschbaum-pv-a2_1.jpg" style="position:relative; width:700px; height:100px">-->
    <!--</div>-->
    <div class="navbar navbar-default navbar-fixed-top navyBar">
        <div class="container">
            <ul class="nav nav-pills">
                <li role="presentation">
                    <a href="#" style="color: #000000"><b>Home</b></a>
                </li>
                <li role="presentation">
                    <a href="#" style="color: #000000"><b>Produkte</b></a>
                </li>
                <li role="presentation">
                    <a href="#" style="color: #000000"><b>Angebote</b></a>
                </li>
                <li role="presentation">
                    <a href="#" style="color: #000000"><b>Warenkorb</b></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!------------>
<!-- Body ---->
<div class="container bodyContainer">
    <div class="productContainer">
        <div class="product">
            <a href="#">
                <img src="img/pc1.jpg" class="productPic img-rounded">
            </a>
            <div class="productInfo">
                <center><h4>Titel</h4></center>
                Beschreibung<br>
                Beschreibung<br>
                Beschreibung<br>

            </div>
            <div class="productPreis">
                <b>700,00 &euro;</b>
            </div>

        </div>
    </div>
    <div class="productContainer">
        <div class="product">
            <a href="#">
                <img src="img/pc2.jpg" class="productPic img-rounded">
            </a>
            <div class="productInfo">
                <center><h4>Titel</h4></center>
                Beschreibung<br>
                Beschreibung<br>
                Beschreibung<br>
            </div>
            <div class="productPreis">
                <b>1700,00 &euro;</b>
            </div>
        </div>
    </div>
</div>
<!------------>

</body>
</html>